body, html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  margin: 0px;
  padding: 0px;
  height: 100vh;
  display: grid;
  grid-template-rows: 1fr 5fr 1fr;
}

header {
  border-bottom: 1px solid #ccc;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #fff;
}

.header-1 {
  font-size: 40px;
  text-align: center;
  padding: 2%;
  border-bottom: 1px solid #ccc;
  font-family: Libre Baskerville;
}

.social-icons {
  list-style: none;
}

.author {
    padding: 2%;
    font-size: small;
    margin-left: 10%;
}

.logo {
  margin-left: 100%;
}

nav ul li {
  list-style: none;
  float: left;
  margin-left: 2%;
}

.social-icons li {
  float: left;
  padding: 2%;
}

.list-btn {
  margin-left: 40%;
  margin-bottom: 1%;
}

.btn {
  padding: 12px 28px;
  background-color: #567b95;
  border: none;
  color: #fff;
  font-weight: bold;
  border-radius: 3px;
}

.caption {
  color: #606060;
  font-size: 15px;
}

.caption-1 {
  color: #606060;
  font-size: 12px;
  line-height: normal;
}

.sub-section {
  margin-top: 3%;
}

.sub-section-1 {
  display: flex;
}

.sub-section-1 > div {
  flex: 1;
}

.comment-btn {
  width: 300px;
  margin-top: 7%;
  padding: 12px 28px;
  background-color: #567b95;
  border: none;
  color: #fff;
  font-weight: bold;
  border-radius: 3px;
}

h2 {
  text-align: center;
}

.left {
  flex: 1;
}

.center {
  flex: 5;
}

.right {
  flex: 1;
}

.container {
  display: flex;
  margin-top: 7%;
}

.subscription {
  text-align: center;
  font-weight: bold;
  font-size: medium;
  line-height: normal;
}

.hr {
  color: #505050;
  width: 10%;
}

.subscription>a {
  text-decoration: none;
}

.banner {
  width: 100%;
}

.wrapper {
  padding: 1% 12% 1% 12%;
  line-height: 200%;
  font-size: 20px;
}

.wrap {
  border-top:1px solid #ccc;
  margin-top: 2%;
}

.container-1 {
  width: 1000px;
  height: 600px;
  margin-top: 1%;
}

.wrapper-1 {
  padding: 1%;
  font-size: 13px;
  display: flex;
}

.wrapper-1 > div {
  margin: 6px;
}

.wrapper-2 {
  padding: 1%;
  font-size: 13px;
  display: flex;
}

.wrapper-2 > div {
  margin: 6px;
}

.box-img {
  width: 220px;
  height: 140px;
}

.video {
  margin: 10px auto;
}

.section-footer {
  display: flex;
  margin-top: 10px;
  padding: 3% 1% 2% 2%;
}

.box-1 {
  border-top: 1px solid;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 5px;
}

.box-2 {
  border-top: 1px solid;
  flex: 1;
  padding: 2%;
}

.section-footer > div {
  margin: 6px;
}

.box-1 > div {
  margin: 6px;
}

.subheads {
  font-size: 14px;
}

.new_titles {
  list-style-type: none;
  margin: 3% 0% 3% 0%;
  padding: 3% 0% 3% 0%;
}

.title {
  font-weight: bold;
  border-bottom: #ccc 1px solid;
}

footer {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding: 1%;
  margin: 1%;
  display: flex;
}

footer > div {
  flex: 1;
  margin: 10px;
}

.items {
  list-style: none;
  padding: 3% 0% 3% 0%;
}

.items > li {
  margin-bottom: 10px;
  font-size: 14px;
  color: #505050;
}

.foot-6 {
  border-left: 1px solid #ccc;
  padding-left: 2%;
}

.lower-footer {
  padding: 2%;
  font-size: 12px;
}

.final {
  list-style: none;
}

.final li {
  float: left;
  margin-left: 1%;
}

.final li a:link {
  text-decoration: none;
  color: #000;
}

.signup-1 {
  font-size: 15px;
  color: #606060;
  font-style: italic;
  margin-bottom: 50px;
  display: flex;
}

.signup-1 > div {
  flex: 1;
}

.signup-1-btn {
  padding: 12px 28px;
  font-weight: bold;
  border-radius: 3px;
  font-weight: bold;
  margin-left: 60%;
}

.signup-1-btn:hover {
  padding: 12px 28px;
  font-weight: bold;
  border-radius: 3px;
  font-weight: bold;
  margin-left: 60%;
  background-color: #000;
  color: #fff;
}

.image-caption {
  font-size: 10px;
  float: right;
  color: rgb(139, 139, 139);
}

.caption-time {
  font-size: 13px;
  color: rgb(139, 139, 139);
}

.footer-editor {
  width: 80%;
  padding: 3% 1% 2% 2%;
}

.item-ed {
 border-bottom: 1px solid #ccc;
 padding-bottom: 2%;
}

.items > .icons{
  color: #000;
}
